*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    height: 800px;
    background-image: url("./img/1.jpg");
    background-repeat: no-repeat;
}

#welcome {
    padding: 20px 40px;
}
header #header-header{
    display: flex;
    justify-content: space-between;
}
header h2{
    color: white;
    margin-left: 40px;
    margin-top: 30px;
}
header nav{
    margin-top: 30px;
}

header a{
    color: white;
    text-decoration: none;
    margin-right: 50px;
}
a:hover{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
}
header #text{
    color: white;
    text-align: center;
    padding-top: 15%;
}
header #text button{
    color: white;
    background-color:initial;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
}
header #chatron{
    display: flex;
    width: 7%;
    margin: auto;
}
header #tron{
    width: 10px;
    height: 10px;
    background-color: gray;
    border: 2 solid red;
    border-radius: 50px;
    margin: auto;
    margin-top: 250px;
}
#welcome h2{
    height: 35px;
    background-color: black;
}

#welcome p{
    width: 75%;
    height: 35px;
    background-color: gray;
    margin: 10px auto;
}

#welcome img{
    width: 100%;
}

#what-we-do h2{
    height: 35px;
    background-color: black;
}
#what-we-do {
    padding: 20px 40px;
}

#what-we-do .container{
    display: flex;
    flex-wrap:wrap;
}
#what-we-do .item{
    width: 25%;
    height: 370px;
    background-color: gray;
    border: 1px solid orangered;
}
#what-we-do img{
    padding: 20px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}